﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.NuevaConocimientoModel

@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Conocimiento</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("New", "Conocimiento", null,
                       FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myForm" }))
            {
                @Html.HiddenFor(model => model.IdCate)

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Ingrese el nombre del Conocimiento.", data_minlength = "2" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "help-block with-errors" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Demanda, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EnumDropDownListFor(m => m.Demanda, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Demanda, "", new { @class = "help-block with errors" })
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a href="/Conocimiento/Index" title="Cancelar" type="button" class="btn btn-danger">Cancelar</a>
                </div>

            }

        </div>
        <!-- /.box -->
    </div>

</div>
<div>
    @Html.ActionLink("Volver al Inicio", "Index")
</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(document).ready(function () {
            $('#myForm').validator()
        });
    </script>
}

