﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.EtapaTecnologiaModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Tecnologias de @Model.Etapa.Nombre</h3>

                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var tecno in Model.Tecnologias)
                        {
                            <tr>
                                <td>@tecno.ID</td>
                                <td>@tecno.nombre</td>

                                <td>

                                    <a href="/Etapas/DeleteTecno/?idLinea=@Model.IDLinea&idEtapa=@Model.Etapa.ID&idTecno=@tecno.ID"
                                       title="Borrar Tecnologia de Etapa" class="btn btn-danger">
                                        Borrar
                                    </a>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <a href="/Etapas/NewTecno/?idLinea=@Model.IDLinea&idProy=@Model.Etapa.IDProyecto&idEtapa=@Model.Etapa.ID" title="Nuevo" class="btn btn-primary">
                                    Nuevo
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>
<a href="/Etapas/Index/?idLinea=@Model.IDLinea&idProy=@Model.Etapa.IDProyecto">Volver a lista de Etapas</a>
@section Scripts{
    <script>
    </script>
}
