﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.NuevaUnidadSolicitudModel

@{
    ViewBag.Title = "Borrar";
}


    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Desvincular Solicitud '@Model.TituloSolicitud' de la Unidad '@Model.RazonSocialUnidad'</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("UnlinkSolicitud", "Unidades", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))

                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDSolicitud)
                    @Html.HiddenFor(model => model.IDUnidad)
                    <div class="box-body">
                        <p>
                            ¿Está seguro de desvincular la solicitud "@Model.TituloSolicitud"?
                        </p>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <a href="~/Unidades/Solicitudes/@Model.IDUnidad" class="btn btn-primary">Cancelar</a>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
