﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.NuevaTecnologiaModel

@{
    ViewBag.Title = "Borrar";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Borrar tecnología</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm())
                {   
                    
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="box-body">
                        <p>
                            ¿Está seguro de borrar la tecnología <strong>"@Model.Nombre"</strong> ?
                        </p>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>

}
<div>
    <a href="/Tecnologias/Index">Volver a lista de Tecnologías</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}